.intro-h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    font-family: 'Calibri';
    color: #4a4a4a;
}

.table-details {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.table-title {
    font-family: 'Calibri';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.table-header {
    font-size: 14px;
    color: #4a4a4a;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}